<nav class="navbar">
    <div class="logo">BizFinder</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/businesses">Businesses</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign Up</a></li>
    </ul>
</nav>